In [63]:
import pandas as pd
import glob
import os
import numpy as np
from featureranker.utils import *
from featureranker.plots import *
from featureranker.rankers import *
from tqdm.auto import tqdm

xlsx_path = './betting_odds/'
txt_path = './game_data/'
paths = [path for path in glob.glob(xlsx_path + '*.xlsx')]
paths_txt = [path_txt for path_txt in glob.glob(txt_path + '*.txt')]
for path in paths:
    xlsx_dataframes = pd.read_excel(path)
    xlsx_dataframes.columns = xlsx_dataframes.columns.str.replace('[^a-zA-Z0-9]', '')
    view_data(xlsx_dataframes)


txt_dataframes = []
for path_txt in paths_txt:
    df = pd.read_csv(path_txt, delimiter = ",", quotechar='"', quoting=1, header = None)
    # df.columns = df.columns.astype(str).str.replace('[^a-zA-Z0-9]', '')
    txt_dataframes.append(df)
    view_data(df)
# txt_dataframes = txt_dataframes.replace({',': '', '\"': ''}, regex=True)

# If you want to view the file in Excel, uncomment the following line
# os.startfile(xlsx_files[0])

There are no NaN values in the dataset
The column 9th has 0.1% NaN values.
There are no NaN values in the dataset
There are no NaN values in the dataset
The column 9th has 0.1% NaN values.
There are no NaN values in the dataset
The column 9th has 0.1% NaN values.
The column Pitcher has 0.6% NaN values.
The column 9th has 0.1% NaN values.
The column Pitcher has 0.2% NaN values.
The column 8th has 0.1% NaN values.
The column 9th has 0.1% NaN values.
There are no NaN values in the dataset
There are no NaN values in the dataset
There are no NaN values in the dataset
The column 13 has 99.9% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 99.9% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 50.5% NaN values.
The column 99 has 5.1% NaN values.
The column 159 has 99.5% NaN values.
The column 13 has 100.0% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 81 has 0.3% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 48.8% NaN values.
The column 99 has 4.7% NaN values.
The column 159 has 99.3% NaN values.
The column 13 has 100.0% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 81 has 0.2% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 48.1% NaN values.
The column 99 has 4.9% NaN values.
The column 159 has 99.5% NaN values.
The column 13 has 99.9% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 47.9% NaN values.
The column 99 has 4.5% NaN values.
The column 159 has 99.3% NaN values.
The column 13 has 99.8% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 99.9% NaN values.
The column 81 has 0.1% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 48.0% NaN values.
The column 99 has 4.8% NaN values.
The column 159 has 99.5% NaN values.
The column 13 has 99.8% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 46.8% NaN values.
The column 99 has 4.9% NaN values.
The column 159 has 99.4% NaN values.
The column 13 has 100.0% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 99.9% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 47.4% NaN values.
The column 99 has 4.5% NaN values.
The column 159 has 99.2% NaN values.
The column 13 has 100.0% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 51.5% NaN values.
The column 99 has 4.9% NaN values.
The column 159 has 99.2% NaN values.
The column 13 has 99.9% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 85 has 99.9% NaN values.
The column 87 has 99.9% NaN values.
The column 97 has 48.8% NaN values.
The column 99 has 4.9% NaN values.
The column 159 has 99.5% NaN values.
The column 13 has 99.8% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 81 has 0.1% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 51.4% NaN values.
The column 99 has 4.6% NaN values.
The column 159 has 99.0% NaN values.
The column 13 has 99.8% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 17 has 100.0% NaN values.
The column 81 has 0.2% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 53.0% NaN values.
The column 99 has 4.2% NaN values.
The column 159 has 96.4% NaN values.
The column 13 has 99.7% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 81 has 0.2% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 51.0% NaN values.
The column 99 has 4.8% NaN values.
The column 159 has 99.3% NaN values.
The column 13 has 100.0% NaN values.
The column 14 has 100.0% NaN values.
The column 15 has 100.0% NaN values.
The column 81 has 0.4% NaN values.
The column 85 has 100.0% NaN values.
The column 87 has 100.0% NaN values.
The column 97 has 49.3% NaN values.
The column 99 has 4.9% NaN values.
The column 159 has 99.2% NaN values.

In [64]:
def process_dataframes(paths):
    xlsx_dataframes = [pd.read_excel(path) for path in paths]
    merged_df = pd.concat(xlsx_dataframes)
    home_teams_df = merged_df[merged_df['VH'] == 'H']
    visiting_teams_df = merged_df[merged_df['VH'] == 'V']

    selected_columns_df = pd.DataFrame()
    for i in range(len(xlsx_dataframes)):
        year = 2010 + i
        temp_df = pd.DataFrame({
            'date': home_teams_df['Date'].apply(lambda x: str(year) + str(x).zfill(4)).reset_index(drop=True),
            'home_team': home_teams_df['Team'].reset_index(drop=True),
            'visiting_team': visiting_teams_df['Team'].reset_index(drop=True),
            'home_open': home_teams_df['Open'].reset_index(drop=True),
            'visiting_open': visiting_teams_df['Open'].reset_index(drop=True)
        })
        selected_columns_df = pd.concat([selected_columns_df, temp_df])

    return selected_columns_df

print(process_dataframes(paths))

           date home_team visiting_team home_open visiting_open
0      20100404       BOS           NYY      -114          -106
1      20100405       WAS           PHI       170          -200
2      20100405       NYM           MIA      -115          -105
3      20100405       CIN           STL       135          -155
4      20100405       PIT           LOS       135          -155
...         ...       ...           ...       ...           ...
28001  20211027       HOU           ATL      -115          -105
28002  20211029       ATL           HOU      -115          -105
28003  20211030       ATL           HOU      -115          -105
28004  20211031       ATL           HOU      -105          -115
28005  20211102       HOU           ATL      -120           100

[336072 rows x 5 columns]

In [65]:
print(txt_dataframes)

[           0    1    2    3   4    5    6   7    8    9    ...  \
0     20100404    0  Sun  NYA  AL    1  BOS  AL    1    7  ...
1     20100405    0  Mon  MIN  AL    1  ANA  AL    1    3  ...
2     20100405    0  Mon  CLE  AL    1  CHA  AL    1    0  ...
3     20100405    0  Mon  DET  AL    1  KCA  AL    1    8  ...
4     20100405    0  Mon  SEA  AL    1  OAK  AL    1    5  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2425  20101003    0  Sun  CHN  NL  162  HOU  NL  162    0  ...
2426  20101003    0  Sun  ARI  NL  162  LAN  NL  162    1  ...
2427  20101003    0  Sun  WAS  NL  162  NYN  NL  162    2  ...
2428  20101003    0  Sun  SDN  NL  162  SFN  NL  162    0  ...
2429  20101003    0  Sun  COL  NL  162  SLN  NL  162    1  ...

                      151  152       153             154  155       156  \
0               J.D. Drew    9  camem001    Mike Cameron    8  scutm001
1          Howie Kendrick    4  woodb003    Brandon Wood    5  mathj001
2         A.J. Pierzynski    2  teahm001     Mark Teahen    5  ramia003
3     Yuniesky Betancourt    6  kendj001   Jason Kendall    2  getzc001
4              Mark Ellis    4  buckt001     Travis Buck    7  pennc001
...                   ...  ...       ...             ...  ...       ...
2425    Humberto Quintero    2  manzt001  Tommy Manzella    6  figun001
2426          Brad Ausmus    2  johnr008    Reed Johnson    7  lillt001
2427           Josh Thole    2  tejar001    Ruben Tejada    4  pelfm001
2428         Jose Guillen    9  sandp001  Pablo Sandoval    5  sancj002
2429        Matt Pagnozzi    2  ryanb002    Brendan Ryan    6  suppj001

                   157  158  159 160
0        Marco Scutaro    6  NaN   Y
1          Jeff Mathis    2  NaN   Y
2       Alexei Ramirez    6  NaN   Y
3           Chris Getz    4  NaN   Y
4     Cliff Pennington    6  NaN   Y
...                ...  ...  ...  ..
2425   Nelson Figueroa    1  NaN   Y
2426         Ted Lilly    1  NaN   Y
2427      Mike Pelfrey    1  NaN   Y
2428  Jonathan Sanchez    1  NaN   Y
2429       Jeff Suppan    1  NaN   Y

[2430 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20110331    0  Thu  MIL  NL    1  CIN  NL    1    6  ...
1     20110331    0  Thu  SFN  NL    1  LAN  NL    1    1  ...
2     20110331    0  Thu  SDN  NL    1  SLN  NL    1    5  ...
3     20110331    0  Thu  ATL  NL    1  WAS  NL    1    2  ...
4     20110331    0  Thu  ANA  AL    1  KCA  AL    1    4  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2424  20110928    0  Wed  TOR  AL  162  CHA  AL  162    3  ...
2425  20110928    0  Wed  CLE  AL  162  DET  AL  162    4  ...
2426  20110928    0  Wed  KCA  AL  162  MIN  AL  162    0  ...
2427  20110928    0  Wed  OAK  AL  162  SEA  AL  162    2  ...
2428  20110928    0  Wed  NYA  AL  162  TBA  AL  162    7  ...

                  151  152       153             154  155       156  \
0     Ramon Hernandez    2  janip001     Paul Janish    6  volqe001
1         Rod Barajas    2  carrj001   Jamey Carroll    4  kersc001
2       Yadier Molina    2  schus001  Skip Schumaker    4  carpc002
3      Danny Espinosa    4  rodri001  Ivan Rodriguez    2  hernl003
4     Alcides Escobar    6  tream001    Matt Treanor    2  getzc001
...               ...  ...       ...             ...  ...       ...
2424      Brent Morel    5  lucyd001      Donny Lucy    2  beckg001
2425   Jhonny Peralta    6  kelld001       Don Kelly    9  santr002
2426  Brian Dinkelman    4  bensj001      Joe Benson    7  buted001
2427       Alex Liddi    5  seagk001     Kyle Seager    6  gimec001
2428   Casey Kotchman    3  shopk001  Kelly Shoppach    2  brigr001

                  157  158  159 160
0     Edinson Volquez    1  NaN   Y
1     Clayton Kershaw    1  NaN   Y
2     Chris Carpenter    1  NaN   Y
3     Livan Hernandez    1  NaN   Y
4          Chris Getz    4  NaN   Y
...               ...  ...  ...  ..
2424   Gordon Beckham    4  NaN   Y
2425   Ramon Santiago    4  NaN   Y
2426      Drew Butera    2  NaN   Y
2427    Chris Gimenez    2  NaN   Y
2428     Reid Brignac    6  NaN   Y

[2429 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20120328    0  Wed  SEA  AL    1  OAK  AL    1    3  ...
1     20120329    0  Thu  SEA  AL    2  OAK  AL    2    1  ...
2     20120404    0  Wed  SLN  NL    1  MIA  NL    1    4  ...
3     20120405    0  Thu  TOR  AL    1  CLE  AL    1    7  ...
4     20120405    0  Thu  BOS  AL    1  DET  AL    1    2  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2425  20121003    0  Wed  NYN  NL  162  MIA  NL  162    4  ...
2426  20121003    0  Wed  SDN  NL  162  MIL  NL  162    7  ...
2427  20121003    0  Wed  ATL  NL  162  PIT  NL  162    4  ...
2428  20121003    0  Wed  CIN  NL  162  SLN  NL  162    0  ...
2429  20121003    0  Wed  PHI  NL  162  WAS  NL  162    1  ...

                  151  152       153             154  155       156  \
0     Yoenis Cespedes    8  alleb001   Brandon Allen    3  sogae001
1        Josh Reddick    9  donaj001  Josh Donaldson    5  kaaik001
2        Omar Infante    4  buckj001       John Buck    2  johnj009
3      Casey Kotchman    3  kipnj001    Jason Kipnis    4  hannj001
4      Jhonny Peralta    6  avila001      Alex Avila    2  santr002
...               ...  ...       ...             ...  ...       ...
2425        John Buck    2  velag002   Gil Velazquez    5  koeht001
2426  Travis Ishikawa    3  seguj002     Jean Segura    6  stinj001
2427     Clint Barmes    6  barar001     Rod Barajas    2  burna001
2428     Ryan Jackson    4  kozmp001      Pete Kozma    6  mills001
2429   Danny Espinosa    4  florj002    Jesus Flores    2  jacke001

                 157  158  159 160
0        Eric Sogard    5  NaN   Y
1      Kila Ka'aihue    3  NaN   Y
2       Josh Johnson    1  NaN   Y
3      Jack Hannahan    5  NaN   Y
4     Ramon Santiago    4  NaN   Y
...              ...  ...  ...  ..
2425     Tom Koehler    1  NaN   Y
2426    Josh Stinson    1  NaN   Y
2427    A.J. Burnett    1  NaN   Y
2428   Shelby Miller    1  NaN   Y
2429   Edwin Jackson    1  NaN   Y

[2430 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20130331    0  Sun  TEX  AL    1  HOU  AL    1    2  ...
1     20130401    0  Mon  KCA  AL    1  CHA  AL    1    0  ...
2     20130401    0  Mon  DET  AL    1  MIN  AL    1    4  ...
3     20130401    0  Mon  BOS  AL    1  NYA  AL    1    8  ...
4     20130401    0  Mon  SEA  AL    1  OAK  AL    1    2  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2426  20130929    0  Sun  DET  AL  162  MIA  NL  162    0  ...
2427  20130929    0  Sun  MIL  NL  162  NYN  NL  162    2  ...
2428  20130929    0  Sun  SDN  NL  162  SFN  NL  162    6  ...
2429  20130929    0  Sun  CHN  NL  162  SLN  NL  162    0  ...
2430  20130930    0  Mon  TBA  AL  163  TEX  AL  163    5  ...

                   151  152       153             154  155       156  \
0       Matt Dominguez    5  barnb002  Brandon Barnes    9  ceder002
1       Alexei Ramirez    6  flowt001   Tyler Flowers    2  beckg001
2       Chris Parmelee    9  dozib001    Brian Dozier    4  florp001
3        Ichiro Suzuki    9  nix-j001      Jayson Nix    5  cervf001
4       Josh Donaldson    5  smits002      Seth Smith   10  sogae001
...                ...  ...       ...             ...  ...       ...
2426     Chris Coghlan    5  hillk002      Koyie Hill    2  alvah001
2427      Juan Centeno    2  tovaw001  Wilfredo Tovar    6  niesj001
2428  Brandon Crawford    6  perej002      Juan Perez    7  moscg001
2429    Shane Robinson    7  wongk001     Kolten Wong    4  westj001
2430    Mitch Moreland    3  gentc001    Craig Gentry    7  martl004

                               157  158  159 160
0                     Ronny Cedeno    6  NaN   Y
1                   Gordon Beckham    4  NaN   Y
2                   Pedro Florimon    6  NaN   Y
3               Francisco Cervelli    2  NaN   Y
4                      Eric Sogard    4  NaN   Y
...                            ...  ...  ...  ..
2426             Henderson Alvarez    1  NaN   Y
2427                     Jon Niese    1  NaN   Y
2428  Guillermo Moscoso (Corredor)    1  NaN   Y
2429                Jake Westbrook    1  NaN   Y
2430                 Leonys Martin    8  NaN   Y

[2431 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20140322    0  Sat  LAN  NL    1  ARI  NL    1    3  ...
1     20140323    0  Sun  LAN  NL    2  ARI  NL    2    7  ...
2     20140330    0  Sun  LAN  NL    3  SDN  NL    1    1  ...
3     20140331    0  Mon  SEA  AL    1  ANA  AL    1   10  ...
4     20140331    0  Mon  BOS  AL    1  BAL  AL    1    1  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2425  20140928    0  Sun  CHN  NL  162  MIL  NL  162    5  ...
2426  20140928    0  Sun  HOU  AL  162  NYN  NL  162    3  ...
2427  20140928    0  Sun  ATL  NL  162  PHI  NL  162    2  ...
2428  20140928    0  Sun  SDN  NL  162  SFN  NL  162    3  ...
2429  20140928    0  Sun  MIA  NL  162  WAS  NL  162    0  ...

                   151  152       153               154  155       156  \
0         Chris Owings    6  parrg001     Gerardo Parra    9  milew001
1        Gerardo Parra    9  gregd001    Didi Gregorius    6  cahit001
2         Will Venable    8  river003       Rene Rivera    2  casha001
3       Howie Kendrick    4  iannc001    Chris Iannetta    2  aybae001
4         Delmon Young   10  flahr001     Ryan Flaherty    5  schoj001
...                ...  ...       ...               ...  ...       ...
2425     Logan Schafer    8  herre001     Elian Herrera    4  fierm001
2426      Ruben Tejada    6  centj001      Juan Centeno    2  colob001
2427     Maikel Franco    5  galvf001     Freddy Galvis    6  hamec001
2428  Brandon Crawford    6  ishit001   Travis Ishikawa    7  hestc001
2429      Wilson Ramos    2  cabra002  Asdrubal Cabrera    4  zimmj003

                    157  158  159  160
0            Wade Miley    1  NaN    Y
1         Trevor Cahill    1  NaN    Y
2        Andrew Cashner    1  NaN    Y
3           Erick Aybar    6  NaN    Y
4       Jonathan Schoop    4  NaN    Y
...                 ...  ...  ...  ...
2425      Michael Fiers    1  NaN    Y
2426      Bartolo Colon    1  NaN    Y
2427        Cole Hamels    1  NaN    Y
2428       Chris Heston    1  NaN    Y
2429  Jordan Zimmermann    1  NaN    Y

[2430 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20150405    0  Sun  SLN  NL    1  CHN  NL    1    3  ...
1     20150406    0  Mon  MIN  AL    1  DET  AL    1    0  ...
2     20150406    0  Mon  CLE  AL    1  HOU  AL    1    0  ...
3     20150406    0  Mon  CHA  AL    1  KCA  AL    1    1  ...
4     20150406    0  Mon  TOR  AL    1  NYA  AL    1    6  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2424  20151004    0  Sun  CHN  NL  162  MIL  NL  162    3  ...
2425  20151004    0  Sun  WAS  NL  162  NYN  NL  162    0  ...
2426  20151004    0  Sun  MIA  NL  162  PHI  NL  162    2  ...
2427  20151004    0  Sun  CIN  NL  162  PIT  NL  162    0  ...
2428  20151004    0  Sun  COL  NL  162  SFN  NL  162    7  ...

                     151  152       153               154  155       156  \
0             David Ross    2  lestj001        Jon Lester    1  lastt001
1       Nick Castellanos    5  avila001        Alex Avila    2  iglej001
2             Jed Lowrie    6  rasmc001      Colby Rasmus    7  marij002
3              Alex Rios    9  peres002    Salvador Perez    2  infao001
4         Alex Rodriguez   10  drews001      Stephen Drew    4  gregd001
...                  ...  ...       ...               ...  ...       ...
2424         Jean Segura    6  maldm001  Martin Maldonado    2  lopej004
2425    Michael Conforto    7  tejar001      Ruben Tejada    6  degrj001
2426          Erik Kratz    3  ruppc001      Cameron Rupp    2  buchd001
2427  Francisco Cervelli    2  mercj002      Jordy Mercer    6  happj001
2428         Nick Noonan    6  willj005  Jackson Williams    2  cainm001

                  157  158  159 160
0     Tommy La Stella    4  NaN   Y
1       Jose Iglesias    6  NaN   Y
2      Jake Marisnick    8  NaN   Y
3        Omar Infante    4  NaN   Y
4      Didi Gregorius    6  NaN   Y
...               ...  ...  ...  ..
2424      Jorge Lopez    1  NaN   Y
2425     Jacob deGrom    1  NaN   Y
2426   David Buchanan    1  NaN   Y
2427        J.A. Happ    1  NaN   Y
2428        Matt Cain    1  NaN   Y

[2429 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20160403    0  Sun  NYN  NL    1  KCA  AL    1    3  ...
1     20160403    0  Sun  TOR  AL    1  TBA  AL    1    5  ...
2     20160403    0  Sun  SLN  NL    1  PIT  NL    1    1  ...
3     20160404    0  Mon  CHN  NL    1  ANA  AL    1    9  ...
4     20160404    0  Mon  MIN  AL    1  BAL  AL    1    2  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2423  20161002    0  Sun  MIL  NL  162  COL  NL  162    6  ...
2424  20161002    0  Sun  NYN  NL  162  PHI  NL  162    2  ...
2425  20161002    0  Sun  LAN  NL  162  SFN  NL  162    1  ...
2426  20161002    0  Sun  PIT  NL  162  SLN  NL  162    4  ...
2427  20161002    0  Sun  MIA  NL  161  WAS  NL  162    7  ...

                    151  152       153               154  155       156  \
0        Salvador Perez    2  infao001      Omar Infante    4  fuenr001
1          Steven Souza    9  kierk001   Kevin Kiermaier    8  congh001
2         Josh Harrison    4  mercj002      Jordy Mercer    6  lirif001
3     Andrelton Simmons    6  perec003      Carlos Perez    2  giavj001
4            J.J. Hardy    6  schoj001   Jonathan Schoop    4  rickj001
...                 ...  ...       ...               ...  ...       ...
2423        Pat Valaika    4  adamc001  Cristhian Adames    6  marqg001
2424      Andres Blanco    6  altha001     Aaron Altherr    9  eickj001
2425          Joe Panik    4  gillc001   Conor Gillaspie    5  moorm003
2426        Jedd Gyorko    4  gricr001    Randal Grichuk    8  waina001
2427     Danny Espinosa    6  lobaj001      Jose Lobaton    2  schem001

                    157  158  159 160
0       Reymond Fuentes    9  NaN   Y
1           Hank Conger    2  NaN   Y
2     Francisco Liriano    1  NaN   Y
3     Johnny Giavotella    4  NaN   Y
4          Joey Rickard    7  NaN   Y
...                 ...  ...  ...  ..
2423     German Marquez    1  NaN   Y
2424     Jerad Eickhoff    1  NaN   Y
2425         Matt Moore    1  NaN   Y
2426    Adam Wainwright    1  NaN   Y
2427       Max Scherzer    1  NaN   Y

[2428 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20170402    0  Sun  SFN  NL    1  ARI  NL    1    5  ...
1     20170402    0  Sun  CHN  NL    1  SLN  NL    1    3  ...
2     20170402    0  Sun  NYA  AL    1  TBA  AL    1    3  ...
3     20170403    0  Mon  PHI  NL    1  CIN  NL    1    4  ...
4     20170403    0  Mon  SDN  NL    1  LAN  NL    1    3  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2425  20171001    0  Sun  ARI  NL  162  KCA  AL  162   14  ...
2426  20171001    0  Sun  DET  AL  162  MIN  AL  162    1  ...
2427  20171001    0  Sun  TOR  AL  162  NYA  AL  162    2  ...
2428  20171001    0  Sun  BAL  AL  162  TBA  AL  162    0  ...
2429  20171001    0  Sun  OAK  AL  162  TEX  AL  162    5  ...

                  151  152       153              154  155       156  \
0       David Peralta    9  mathj001      Jeff Mathis    2  greiz001
1         Jedd Gyorko    4  gricr001   Randal Grichuk    7  martc006
2         Tim Beckham    6  smitm007     Mallex Smith    7  norrd001
3         Zack Cozart    6  barnt001  Tucker Barnhart    2  felds001
4     Yasmani Grandal    2  puigy001      Yasiel Puig    9  kersc001
...               ...  ...       ...              ...  ...       ...
2425      Alex Gordon    7  buted001      Drew Butera    2  cainl001
2426     Byron Buxton    8  castj006     Jason Castro    2  grosr001
2427    Austin Romine    2  frazc001    Clint Frazier    7  austt001
2428      Curt Casali    2  smitm007     Mallex Smith    8  robed004
2429     Rougned Odor    4  nichb001   Brett Nicholas    2  robid003

                   157  158  159 160
0         Zack Greinke    1  NaN   Y
1      Carlos Martinez    1  NaN   Y
2         Derek Norris    2  NaN   Y
3        Scott Feldman    1  NaN   Y
4      Clayton Kershaw    1  NaN   Y
...                ...  ...  ...  ..
2425      Lorenzo Cain    8  NaN   Y
2426   Robbie Grossman    9  NaN   Y
2427      Tyler Austin    9  NaN   Y
2428  Daniel Robertson    6  NaN   Y
2429     Drew Robinson    5  NaN   Y

[2430 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20180329    0  Thu  COL  NL    1  ARI  NL    1    2  ...
1     20180329    0  Thu  PHI  NL    1  ATL  NL    1    5  ...
2     20180329    0  Thu  SFN  NL    1  LAN  NL    1    1  ...
3     20180329    0  Thu  CHN  NL    1  MIA  NL    1    8  ...
4     20180329    0  Thu  SLN  NL    1  NYN  NL    1    4  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2426  20180930    0  Sun  CHA  AL  162  MIN  AL  162    4  ...
2427  20180930    0  Sun  TEX  AL  162  SEA  AL  162    1  ...
2428  20180930    0  Sun  TOR  AL  162  TBA  AL  162    4  ...
2429  20181001    0  Mon  MIL  NL  163  CHN  NL  163    3  ...
2430  20181001    0  Mon  COL  NL  163  LAN  NL  163    2  ...

                    151  152       153                 154  155       156  \
0            Nick Ahmed    6  dysoj001        Jarrod Dyson    9  corbp001
1        Dansby Swanson    6  flahr001       Ryan Flaherty    5  tehej001
2       Yasmani Grandal    2  forsl001      Logan Forsythe    5  kersc001
3          Miguel Rojas    6  wallc001        Chad Wallach    2  urenj001
4        Kevin Plawecki    2  syndn001    Noah Syndergaard    1  rosaa003
...                 ...  ...       ...                 ...  ...       ...
2426     Logan Forsythe    4  astuw001  Willians Astudillo    5  gratj001
2427  Kristopher Negron    4  freid001       David Freitas    2  romia001
2428     Austin Meadows    9  bauej001         Jake Bauers    3  ciufn001
2429      Jason Heyward    8  quinj001       Jose Quintana    1  contw001
2430        Yasiel Puig    9  herne001   Enrique Hernandez    4  buehw001

                    157  158  159 160
0        Patrick Corbin    1  NaN   Y
1         Julio Teheran    1  NaN   Y
2       Clayton Kershaw    1  NaN   Y
3            Jose Urena    1  NaN   Y
4          Amed Rosario    6  NaN   Y
...                 ...  ...  ...  ..
2426      Juan Graterol    2  NaN   Y
2427      Andrew Romine    6  NaN   Y
2428        Nick Ciuffo    2  NaN   Y
2429  Willson Contreras    2  NaN   Y
2430     Walker Buehler    1  NaN   Y

[2431 rows x 161 columns],            0    1    2    3   4    5    6   7    8    9    ...  \
0     20190320    0  Wed  SEA  AL    1  OAK  AL    1    9  ...
1     20190321    0  Thu  SEA  AL    2  OAK  AL    2    5  ...
2     20190328    0  Thu  PIT  NL    1  CIN  NL    1    3  ...
3     20190328    0  Thu  ARI  NL    1  LAN  NL    1    5  ...
4     20190328    0  Thu  COL  NL    1  MIA  NL    1    6  ...
...        ...  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...
2424  20190929    0  Sun  DET  AL  161  CHA  AL  161    3  ...
2425  20190929    0  Sun  MIN  AL  162  KCA  AL  162    4  ...
2426  20190929    0  Sun  OAK  AL  162  SEA  AL  162    1  ...
2427  20190929    0  Sun  NYA  AL  162  TEX  AL  162    1  ...
2428  20190929    0  Sun  TBA  AL  162  TOR  AL  162    3  ...

                     151  152       153               154  155       156  \
0       Jurickson Profar    4  semim001     Marcus Semien    6  hundn001
1       Jurickson Profar    4  laurr001    Ramon Laureano    8  phegj001
2        Tucker Barnhart    2  iglej001     Jose Iglesias    6  castl003

In [66]:
def extract_data(txt_dataframes):
    extracted_data_df = pd.DataFrame()
    for txt_df in txt_dataframes:
        # Extracting required data from the columns based on the provided indices
        temp_df = pd.DataFrame({
            'date': txt_df.iloc[:, 0].apply(lambda x: str(x)),
            'home_team': txt_df.iloc[:, 6],
            'visiting_team': txt_df.iloc[:, 3],
        })
        # Extracting player names for home and visiting teams
        home_players = [txt_df.iloc[:, 133+3*i].str.split(',').str[0].replace(np.nan, 'Unknown Player') for i in range(9)]
        visiting_players = [txt_df.iloc[:, 106+3*i].str.split(',').str[0].replace(np.nan, 'Unknown Player') for i in range(9)]
        for i in range(9):
            temp_df['home_player_'+str(i+1)] = home_players[i]
            temp_df['visiting_player_'+str(i+1)] = visiting_players[i]
        extracted_data_df = pd.concat([extracted_data_df, temp_df])

    return extracted_data_df

final_df = extract_data(txt_dataframes)
print(final_df)

          date home_team visiting_team    home_player_1 visiting_player_1  \
0     20100404       BOS           NYA  Jacoby Ellsbury       Derek Jeter
1     20100405       ANA           MIN      Erick Aybar       Denard Span
2     20100405       CHA           CLE      Juan Pierre  Asdrubal Cabrera
3     20100405       KCA           DET    David DeJesus    Austin Jackson
4     20100405       OAK           SEA      Rajai Davis     Ichiro Suzuki
...        ...       ...           ...              ...               ...
2425  20221005       CLE           KCA      Steven Kwan       MJ Melendez
2426  20221005       HOU           PHI      Kyle Tucker    Kyle Schwarber
2427  20221005       OAK           ANA        Tony Kemp      Luis Rengifo
2428  20221005       SEA           DET  Julio Rodriguez       Akil Baddoo
2429  20221005       TEX           NYA    Marcus Semien       DJ LeMahieu

        home_player_2 visiting_player_2    home_player_3   visiting_player_3  \
0      Dustin Pedroia      Nick Johnson  Victor Martinez       Mark Teixeira
1         Bobby Abreu    Orlando Hudson     Torii Hunter           Joe Mauer
2      Gordon Beckham    Grady Sizemore   Carlos Quentin       Shin-Soo Choo
3     Scott Podsednik      Johnny Damon     Billy Butler     Magglio Ordonez
4        Daric Barton     Chone Figgins     Ryan Sweeney      Casey Kotchman
...               ...               ...              ...                 ...
2425     Amed Rosario        Bobby Witt     Jose Ramirez  Vinnie Pasquantino
2426     Aledmys Diaz      Rhys Hoskins   Yordan Alvarez       J.T. Realmuto
2427      Sean Murphy        Mike Trout       Seth Brown       Shohei Ohtani
2428        Ty France       Javier Baez    Mitch Haniger        Riley Greene
2429   Nathaniel Lowe     Anthony Rizzo    Adolis Garcia     Oswaldo Cabrera

         home_player_4  ...     home_player_5 visiting_player_5  \
0       Kevin Youkilis  ...       David Ortiz     Robinson Cano
1        Hideki Matsui  ...   Kendrys Morales   Michael Cuddyer
2         Paul Konerko  ...       Mark Kotsay    Jhonny Peralta
3          Rick Ankiel  ...      Jose Guillen    Carlos Guillen
4     Kevin Kouzmanoff  ...       Kurt Suzuki       Ken Griffey
...                ...  ...               ...               ...
2425    Andres Gimenez  ...       Josh Naylor    Michael Massey
2426      Alex Bregman  ...  Yulieski Gurriel       Jean Segura
2427       Jordan Diaz  ...      Stephen Vogt        Matt Duffy
2428    Carlos Santana  ...      Luis Torrens        Eric Haase
2429         Josh Jung  ...        Josh Smith     Oswald Peraza

          home_player_6  visiting_player_6        home_player_7  \
0         Adrian Beltre       Jorge Posada            J.D. Drew
1           Juan Rivera        Jason Kubel       Howie Kendrick
2             Alex Rios       Matt LaPorta      A.J. Pierzynski
3     Willie Bloomquist       Brandon Inge  Yuniesky Betancourt
4           Eric Chavez         Jose Lopez           Mark Ellis
...                 ...                ...                  ...
2425     Oscar Gonzalez        Drew Waters         Will Brennan
2426       Trey Mancini      Matt Vierling          Jake Meyers
2427        Chad Pinder     David Fletcher         Conner Capel
2428    Taylor Trammell  Jeimer Candelario         Abraham Toro
2429         Jonah Heim       Jose Trevino    Charlie Culberson

       visiting_player_7   home_player_8 visiting_player_8     home_player_9  \
0      Curtis Granderson    Mike Cameron      Nick Swisher     Marco Scutaro
1           Delmon Young    Brandon Wood        J.J. Hardy       Jeff Mathis
2      Mark Grudzielanek     Mark Teahen        Lou Marson    Alexei Ramirez
3           Gerald Laird   Jason Kendall    Scott Sizemore        Chris Getz
4     Franklin Gutierrez     Travis Buck       Rob Johnson  Cliff Pennington
...                  ...             ...               ...               ...
2425          Kyle Isbel      Luke Maile        Nate Eaton       Myles Straw
2426      Dalton Guthrie  Mauricio Dubon        Nick Maton  Martin Maldonado
2427          Livan Soto   Dermis Garcia          Jo Adell        Nick Allen
2428     Jonathan Schoop     Curt Casali     Brendon Davis     J.P. Crawford
2429     Marwin Gonzalez   Leody Taveras   Kyle Higashioka    Bubba Thompson

     visiting_player_9
0        Brett Gardner
1           Nick Punto
2     Michael Brantley
3         Adam Everett
4          Jack Wilson
...                ...
2425  Sebastian Rivero
2426    Garrett Stubbs
2427        Max Stassi
2428     Ryan Kreidler
2429       Aaron Hicks

[30054 rows x 21 columns]

In [67]:
print(final_df.iloc[0,1])

BOS

In [68]:
print(selected_columns_df)

NameError: name 'selected_columns_df' is not defined