# Imports

In [24]:
import pybaseball as pyb
import pandas as pd
import time  # Import the time module
import inspect

# Functions

In [9]:
pyb.cache.enable()
pyb.cache.config.cache_type='csv'
pyb.cache.config.save()

In [10]:

# get the register data
chad = pyb.chadwick_register()

# get the register data and save to disk
chad = pyb.chadwick_register(save=True)

In [11]:
# import pkg_resources

# def get_version(package_name):
#     try:
#         return pkg_resources.get_distribution(package_name).version
#     except pkg_resources.DistributionNotFound:
#         return "Package not found"

# print(get_version("pybaseball"))

In [21]:


def bref_batter(date1,date2):
# Initialize a list to store all data
    all_data = []

# Loop over the years from the beginning year to the current year
    for year in range(date1, date2):  # Replace 2024 with the current year
        try:
            data = pyb.batting_stats_bref(year)
            print(f"Data fetched for year: {year}")
            all_data.append(data)
        except Exception as e:
            print(f"An error occurred for year: {year}. Error: {str(e)}")
    

    time.sleep(4)
# Concatenate all dataframes in the list
    all_data_df = pd.concat(all_data)
    return all_data_df

date1=2008
date2=2024
batter_data=bref_batter(date1,date2)

Data fetched for year: 2008
Data fetched for year: 2009
Data fetched for year: 2010
Data fetched for year: 2011
Data fetched for year: 2012
Data fetched for year: 2013
Data fetched for year: 2014
Data fetched for year: 2015
Data fetched for year: 2016
Data fetched for year: 2017
Data fetched for year: 2018
Data fetched for year: 2019
Data fetched for year: 2020
Data fetched for year: 2021
Data fetched for year: 2022
Data fetched for year: 2023

In [13]:
def bref_pitcher(date1,date2):
# Initialize a list to store all data
    all_data = []

# Loop over the years from the beginning year to the current year
    for year in range(date1, date2):  # Replace 2024 with the current year
        try:
            data = pyb.pitching_stats_bref(year)
            print(f"Data fetched for year: {year}")
            all_data.append(data)
        except Exception as e:
            print(f"An error occurred for year: {year}. Error: {str(e)}")
    

    time.sleep(4)
# Concatenate all dataframes in the list
    all_data_df = pd.concat(all_data)
    return all_data_df

date1=2008
date2=2024
pitcher_data=bref_pitcher(date1,date2)

Data fetched for year: 2008
Data fetched for year: 2009
Data fetched for year: 2010
Data fetched for year: 2011
Data fetched for year: 2012
Data fetched for year: 2013
Data fetched for year: 2014
Data fetched for year: 2015
Data fetched for year: 2016
Data fetched for year: 2017
Data fetched for year: 2018
Data fetched for year: 2019
Data fetched for year: 2020
Data fetched for year: 2021
Data fetched for year: 2022
Data fetched for year: 2023

In [34]:
print(inspect.getsource(pyb.pitching_stats_range))

@cache.df_cache()
def pitching_stats_range(start_dt: Optional[str]=None, end_dt: Optional[str]=None) -> pd.DataFrame:
    """
    Get all pitching stats for a set time range. This can be the past week, the
    month of August, anything. Just supply the start and end date in YYYY-MM-DD
    format.
    """
    # ensure valid date strings, perform necessary processing for query
    start_dt_date, end_dt_date = sanitize_date_range(start_dt, end_dt)
    if start_dt_date.year < 2008:
        raise ValueError("Year must be 2008 or later")
    if end_dt_date.year < 2008:
        raise ValueError("Year must be 2008 or later")
    # retrieve html from baseball reference
    soup = get_soup(start_dt_date, end_dt_date)
    table = get_table(soup)
    table = table.dropna(how='all') # drop if all columns are NA
    #fix some strange formatting for percentage columns
    table = table.replace('---%', np.nan)
    #make sure these are all numeric
    for column in ['Age', '#days', 'G', 'GS', 'W', 'L', 'SV', 'IP', 'H',
                    'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B',
                    '3B', 'IBB', 'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit',
                    'WHIP', 'BAbip', 'SO9', 'SO/W']:
        table[column] = pd.to_numeric(table[column])
    #convert str(xx%) values to float(0.XX) decimal values
    for column in ['Str', 'StL', 'StS', 'GB/FB', 'LD', 'PU']:
        table[column] = table[column].replace('%','',regex=True).astype('float')/100

    table = table.drop('', axis=1)
    return table

In [17]:

def bref_fielder(date1,date2):
# Initialize a list to store all data
    all_data = []

# Loop over the years from the beginning year to the current year
    for year in range(date1, date2):  # Replace 2024 with the current year
        try:
            data = pyb.statcast_outs_above_average(year, "all", 0)
            print(f"Data fetched for year: {year}")
            all_data.append(data)
        except Exception as e:
            print(f"An error occurred for year: {year}. Error: {str(e)}")
    

    time.sleep(4)
# Concatenate all dataframes in the list
    all_data_df = pd.concat(all_data)
    return all_data_df

date1=2008
date2=2024
fielder_data=bref_fielder(date1,date2)

Data fetched for year: 2008
Data fetched for year: 2009
Data fetched for year: 2010
Data fetched for year: 2011
Data fetched for year: 2012
Data fetched for year: 2013
Data fetched for year: 2014
Data fetched for year: 2015
Data fetched for year: 2016
Data fetched for year: 2017
Data fetched for year: 2018
Data fetched for year: 2019
Data fetched for year: 2020
Data fetched for year: 2021
Data fetched for year: 2022
Data fetched for year: 2023

In [18]:
print(fielder_data)
print(pitcher_data)
print(batter_data)

    last_name, first_name player_id display_team_name  year  \
0             Abreu, JosÃ©    547989         White Sox  2016
1          Ackley, Dustin    554429           Yankees  2016
2       Adames, Cristhian    542436           Rockies  2016
3             Adams, Matt    571431         Cardinals  2016
4         Adrianza, Ehire    501303            Giants  2016
..                    ...       ...               ...   ...
553     Yelich, Christian    592885           Brewers  2023
554           Yepez, Juan    660766         Cardinals  2023
555     Yoshida, Masataka    807799           Red Sox  2023
556          Young, Jacob    696285         Nationals  2023
557          Young, Jared    676724              Cubs  2023

    primary_pos_formatted fielding_runs_prevented outs_above_average  \
0                      1B                      -4                 -6
1                      1B                       2                  3
2                      SS                       2                  3
3                      1B                       3                  3
4                      SS                      -3                 -3
..                    ...                     ...                ...
553                    LF                       3                  4
554                    LF                      -2                 -2
555                    LF                      -8                 -8
556                    CF                       3                  3
557                    1B                      -2                 -3

    outs_above_average_infront outs_above_average_lateral_toward3bline  \
0                           -2                                       1
1                            1                                       1
2                            0                                       2
3                            1                                       0
4                           -1                                      -1
..                         ...                                     ...
553                          2                                       1
554                          0                                       0
555                          0                                      -3
556                          3                                      -2
557                         -1                                      -1

    outs_above_average_lateral_toward1bline outs_above_average_behind  \
0                                        -5                         0
1                                         1                         0
2                                        -1                         2
3                                         3                         0
4                                         0                        -1
..                                      ...                       ...
553                                      -1                         2
554                                      -1                        -1
555                                      -4                        -2
556                                       2                         0
557                                      -1                         0

    outs_above_average_rhh outs_above_average_lhh  \
0                       -2                     -3
1                        1                      2
2                        3                      1
3                        2                      2
4                       -2                     -2
..                     ...                    ...
553                      2                      2
554                     -2                      0
555                     -2                     -6
556                      1                      2
557                      0                     -3

    actual_success_rate_formatted adj_estimated_success_rate_formatted  \
0                             70%                                  71%
1                             77%                                  70%
2                             70%                                  68%
3                             76%                                  74%
4                             72%                                  79%
..                            ...                                  ...
553                           89%                                  88%
554                           72%                                  85%
555                           80%                                  86%
556                           93%                                  90%
557                           54%                                  65%

    diff_success_rate_formatted
0                           -1%
1                            7%
2                            2%
3                            2%
4                           -7%
..                          ...
553                          1%
554                        -13%
555                         -6%
556                          3%
557                        -11%

[4363 rows x 16 columns]
                        Name  Age  #days     Lev           Tm   G  GS    W  \
1              David Aardsma   26   5570  Maj-AL       Boston  47   0  4.0
2             Jeremy Accardo   26   5712  Maj-AL      Toronto  16   0  NaN
3             Alfredo Aceves   25   5572  Maj-AL     New York   6   4  1.0
4               Manny Acosta   27   5571  Maj-NL      Atlanta  46   0  3.0
5                 Mike Adams   29   5571  Maj-NL    San Diego  54   0  2.0
..                       ...  ...    ...     ...          ...  ..  ..  ...
893            Rob Zastryzny   31    117  Maj-NL   Pittsburgh  21   1  1.0
894              Seby Zavala   29    106  Maj-NL      Arizona   1   0  NaN
895              Angel Zerpa   23     90  Maj-AL  Kansas City  15   3  3.0
896         Bruce Zimmermann   28     90  Maj-AL    Baltimore   7   0  2.0
897  Guillermo Zu\xc3\xb1iga   24    132  Maj-NL    St. Louis   2   0  NaN

       L   SV  ...   StL   StS  GB/FB    LD    PU   WHIP  BAbip   SO9  SO/W  \
1    2.0  NaN  ...  0.13  0.11   0.42  0.20  0.09  1.726  0.341   9.1  1.40
2    3.0  4.0  ...  0.19  0.04   0.46  0.17  0.04  1.541  0.311   3.6  1.25
3    NaN  NaN  ...  0.15  0.08   0.40  0.20  0.12  1.167  0.233   4.8  1.60
4    5.0  3.0  ...  0.18  0.09   0.53  0.14  0.07  1.396  0.261   5.3  1.19
5    3.0  NaN  ...  0.21  0.11   0.44  0.20  0.07  1.041  0.266  10.2  3.89
..   ...  ...  ...   ...   ...    ...   ...   ...    ...    ...   ...   ...
893  NaN  NaN  ...  0.17  0.11   0.41  0.25  0.19  1.790  0.349   6.5  1.15
894  NaN  NaN  ...  0.17  0.00   0.00  0.00  1.00  0.000  0.000   0.0   NaN
895  3.0  NaN  ...  0.14  0.09   0.51  0.22  0.07  1.266  0.307   7.6  4.50
896  NaN  NaN  ...  0.16  0.16   0.51  0.20  0.07  1.275  0.333   9.5   NaN
897  NaN  NaN  ...  0.16  0.07   0.00  0.25  0.25  1.000  0.500  18.0   NaN

      mlbID
1    430911
2    435618
3    469686
4    407924
5    430606
..      ...
893  642239
894  664874
895  672582
896  669145
897  670871

[11885 rows x 41 columns]
                   Name  Age  #days            Lev               Tm    G   PA  \
1         David Aardsma   26   5661         Maj-AL           Boston    1    1
2    Reggie Abercrombie   27   5569         Maj-NL          Houston   32   60
3           Bobby Abreu   34   5569         Maj-AL         New York  156  684
4          Manny Acosta   27   5653         Maj-NL          Atlanta    4    5
5            Mike Adams   29   5598         Maj-NL        San Diego    2    2
..                  ...  ...    ...            ...              ...  ...  ...
682    Masataka Yoshida   29     88         Maj-AL           Boston  140  580
683         Jacob Young   23     88         Maj-NL       Washington   33  121
684         Jared Young   27     88         Maj-NL          Chicago   16   47
685         Seby Zavala   29     88  Maj-AL,Maj-NL  Arizona,Chicago   73  193
686         Mike Zunino   32    197         Maj-AL        Cleveland   42  140

      AB    R    H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS  \
1      1    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
2     55   10   17  ...   1   1    0   5   2  0.309  0.339  0.509  0.848
3    609  100  180  ...   0   1   14  22   8  0.296  0.371  0.471  0.843
4      5    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
5      2    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
..   ...  ...  ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...
682  537   71  155  ...   0   2   20   8   0  0.289  0.338  0.445  0.783
683  107    9   27  ...   3   0    2  13   0  0.252  0.322  0.336  0.658
684   43    8    8  ...   0   0    1   2   0  0.186  0.255  0.465  0.720
685  175   17   30  ...   2   2    4   1   0  0.171  0.230  0.314  0.545
686  124   11   22  ...   0   0    3   0   0  0.177  0.271  0.307  0.578

      mlbID
1    430911
2    430631
3    110029
4    407924
5    430606
..      ...
682  807799
683  696285
684  676724
685  664874
686  572287

[12807 rows x 28 columns]

In [ ]:
print(player_data)

<class 'pandas.core.frame.DataFrame'>