# Imports

In [1]:
import pandas as pd
import glob
import os
import numpy as np
from featureranker.utils import *
from featureranker.plots import *
from featureranker.rankers import *
from tqdm.auto import tqdm
import pickle
import torch
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt
from glob import glob
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, ConfusionMatrixDisplay
from sklearn.preprocessing import StandardScaler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from torch.utils.data import Dataset, DataLoader
import pybaseball as pyb

import warnings
warnings.filterwarnings('ignore')

C:\Users\vile3\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Functions

In [2]:
import pybaseball as pyb
import pandas as pd


import pybaseball as pyb
import pandas as pd

import pybaseball as pyb
import pandas as pd
import time  # Import the time module

# Initialize a list to store all data
all_data = []

# Loop over the years from the beginning year to the current year
for year in range(2008, 2015):  # Replace 2024 with the current year
    try:
        data = pyb.batting_stats_bref(year)
        print(f"Data fetched for year: {year}")
        all_data.append(data)
    except Exception as e:
        print(f"An error occurred for year: {year}. Error: {str(e)}")
    
    time.sleep(4)  # Pause execution for 1 second

# Concatenate all dataframes in the list
all_data_df_1 = pd.concat(all_data)

print(all_data_df_1)

Data fetched for year: 2008
Data fetched for year: 2009
Data fetched for year: 2010
Data fetched for year: 2011
Data fetched for year: 2012
Data fetched for year: 2013
Data fetched for year: 2014
                   Name  Age  #days     Lev          Tm    G   PA   AB    R  \
1         David Aardsma   26   5659  Maj-AL      Boston    1    1    1    0
2    Reggie Abercrombie   27   5567  Maj-NL     Houston   32   60   55   10
3           Bobby Abreu   34   5567  Maj-AL    New York  156  684  609  100
4          Manny Acosta   27   5651  Maj-NL     Atlanta    4    5    5    0
5            Mike Adams   29   5596  Maj-NL   San Diego    2    2    2    0
..                  ...  ...    ...     ...         ...  ...  ...  ...  ...
986        Brad Ziegler   34   3510  Maj-NL     Arizona    1    1    1    0
987      Ryan Zimmerman   29   3376  Maj-NL  Washington   61  240  214   26
988   Jordan Zimmermann   28   3376  Maj-NL  Washington   29   67   55    3
989         Ben Zobrist   33   3377  Maj-AL   Tampa Bay  146  654  570   83
990         Mike Zunino   23   3376  Maj-AL     Seattle  128  476  438   51

       H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS   mlbID
1      0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000  430911
2     17  ...   1   1    0   5   2  0.309  0.339  0.509  0.848  430631
3    180  ...   0   1   14  22   8  0.296  0.371  0.471  0.843  110029
4      0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000  407924
5      0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000  430606
..   ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...     ...
986    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000  446899
987   60  ...   0   4    6   0   0  0.280  0.342  0.449  0.790  475582
988   10  ...   9   1    0   0   0  0.182  0.207  0.200  0.407  519455
989  155  ...   2   6    8  10   1  0.272  0.354  0.395  0.749  450314
990   87  ...   0   4   12   0   3  0.199  0.254  0.404  0.658  572287

[6681 rows x 28 columns]

In [3]:
import pybaseball as pyb
import pandas as pd
import time  # Import the time module

all_data=[]
# Loop over the years from the beginning year to the current year
for year in range(2015, 2018):  # Replace 2024 with the current year
    try:
        data = pyb.batting_stats_bref(year)
        print(f"Data fetched for year: {year}")
        all_data.append(data)
    except Exception as e:
        print(f"An error occurred for year: {year}. Error: {str(e)}")
    
    time.sleep(4)  # Pause execution for 1 second

# Concatenate all dataframes in the list
all_data_df_2 = pd.concat(all_data)

print(all_data_df_2)

Data fetched for year: 2015
Data fetched for year: 2016
Data fetched for year: 2017
                  Name  Age  #days     Lev                Tm    G   PA   AB  \
1        David Aardsma   33   3097  Maj-NL           Atlanta    1    1    1
2    Jos\xc3\xa9 Abreu   28   3006  Maj-AL           Chicago  154  668  613
3        Dustin Ackley   27   3005  Maj-AL  New York,Seattle  100  264  238
4     Cristhian Adames   23   3005  Maj-NL          Colorado   24   58   53
5         Austin Adams   28   3079  Maj-AL         Cleveland    1    1    1
..                 ...  ...    ...     ...               ...  ...  ...  ...
992     Bradley Zimmer   24   2298  Maj-AL         Cleveland   96  332  299
993     Ryan Zimmerman   32   2277  Maj-NL        Washington  142  576  524
994  Jordan Zimmermann   31   2311  Maj-AL           Detroit    3    6    6
995        Ben Zobrist   36   2277  Maj-NL           Chicago  126  496  435
996        Mike Zunino   26   2279  Maj-AL           Seattle  117  435  387

      R    H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS   mlbID
1     0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000  430911
2    88  178  ...   0   1   16   0   0  0.290  0.347  0.502  0.850  547989
3    28   55  ...   3   4    3   2   2  0.231  0.284  0.429  0.712  554429
4     4   13  ...   1   0    0   0   1  0.245  0.298  0.302  0.600  542436
5     0    0  ...   0   0    1   0   0  0.000  0.000  0.000  0.000  542866
..   ..  ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...     ...
992  41   72  ...   0   3    5  18   1  0.241  0.307  0.385  0.692  605548
993  90  159  ...   0   5   16   1   0  0.303  0.358  0.573  0.930  475582
994   0    1  ...   0   0    0   0   0  0.167  0.167  0.167  0.333  519455
995  58  101  ...   2   3   13   2   1  0.232  0.318  0.375  0.693  450314
996  52   97  ...   0   1    8   1   0  0.251  0.331  0.509  0.840  572287

[2894 rows x 28 columns]

In [4]:
import pybaseball as pyb
import pandas as pd
import time  # Import the time module

all_data=[]
# Loop over the years from the beginning year to the current year
for year in range(2018, 2021):  # Replace 2024 with the current year
    try:
        data = pyb.batting_stats_bref(year)
        print(f"Data fetched for year: {year}")
        all_data.append(data)
    except Exception as e:
        print(f"An error occurred for year: {year}. Error: {str(e)}")
    
    time.sleep(4)  # Pause execution for 1 second

# Concatenate all dataframes in the list
all_data_df_3 = pd.concat(all_data)

print(all_data_df_3)

Data fetched for year: 2018
Data fetched for year: 2019
Data fetched for year: 2020
                  Name  Age  #days     Lev                    Tm    G   PA  \
1    Jos\xc3\xa9 Abreu   31   1927  Maj-AL               Chicago  128  553
2     Ronald Acuna Jr.   20   1913  Maj-NL               Atlanta  111  487
3         Willy Adames   22   1913  Maj-AL             Tampa Bay   85  323
4           Lane Adams   28   1913  Maj-NL               Atlanta   26   29
5           Matt Adams   29   1915  Maj-NL  St. Louis,Washington  120  337
..                 ...  ...    ...     ...                   ...  ...  ...
607   Mike Yastrzemski   29   1185  Maj-NL         San Francisco   54  225
608   Christian Yelich   28   1185  Maj-NL             Milwaukee   58  247
609       Andrew Young   26   1208  Maj-NL               Arizona   11   34
610     Bradley Zimmer   27   1223  Maj-AL             Cleveland   20   50
611        Mike Zunino   29   1186  Maj-AL             Tampa Bay   28   84

      AB   R    H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS  \
1    499  68  132  ...   0   6   14   2   0  0.265  0.326  0.473  0.798
2    433  78  127  ...   0   3    4  16   4  0.293  0.366  0.552  0.918
3    288  43   80  ...   1   2    6   6   5  0.278  0.348  0.406  0.754
4     25  10    6  ...   0   0    1   1   0  0.240  0.345  0.520  0.865
5    306  42   73  ...   0   0    6   0   0  0.239  0.309  0.477  0.786
..   ...  ..  ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...
607  192  39   57  ...   0   0    2   2   1  0.297  0.400  0.568  0.968
608  200  39   41  ...   0   0    4   4   2  0.205  0.356  0.430  0.786
609   26   3    5  ...   0   0    0   0   0  0.192  0.382  0.385  0.767
610   37   3    6  ...   0   1    2   2   1  0.162  0.360  0.243  0.603
611   75   8   11  ...   0   0    0   0   0  0.147  0.238  0.360  0.598

      mlbID
1    547989
2    660670
3    642715
4    572669
5    571431
..      ...
607  573262
608  592885
609  670370
610  605548
611  572287

[2572 rows x 28 columns]

In [5]:
import pybaseball as pyb
import pandas as pd
import time  # Import the time module

all_data=[]
# Loop over the years from the beginning year to the current year
for year in range(2021, 2024):  # Replace 2024 with the current year
    try:
        data = pyb.batting_stats_bref(year)
        print(f"Data fetched for year: {year}")
        all_data.append(data)
    except Exception as e:
        print(f"An error occurred for year: {year}. Error: {str(e)}")
    
    time.sleep(4)  # Pause execution for 1 second

# Concatenate all dataframes in the list
all_data_df_4 = pd.concat(all_data)

print(all_data_df_4)

Data fetched for year: 2021
Data fetched for year: 2022
Data fetched for year: 2023
                  Name  Age  #days            Lev                   Tm    G  \
1          Cory Abbott   25    815         Maj-NL              Chicago    2
2    Jos\xc3\xa9 Abreu   34    805         Maj-AL              Chicago  156
3     Ronald Acuna Jr.   23    899         Maj-NL              Atlanta   82
4         Willy Adames   25    805  Maj-AL,Maj-NL  Milwaukee,Tampa Bay  144
5           Matt Adams   32    885         Maj-NL             Colorado   22
..                 ...  ...    ...            ...                  ...  ...
682   Masataka Yoshida   29     86         Maj-AL               Boston  140
683        Jacob Young   23     86         Maj-NL           Washington   33
684        Jared Young   27     86         Maj-NL              Chicago   16
685        Seby Zavala   29     86  Maj-AL,Maj-NL      Arizona,Chicago   73
686        Mike Zunino   32    195         Maj-AL            Cleveland   42

      PA   AB   R    H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS  \
1      3    3   0    1  ...   0   0    0   0   0  0.333  0.333  0.333  0.667
2    677  580  87  153  ...   0  10   29   1   0  0.264  0.355  0.478  0.832
3    360  297  72   84  ...   0   5    0  17   6  0.283  0.394  0.596  0.990
4    572  514  77  135  ...   0   1    9   5   4  0.263  0.336  0.477  0.812
5     40   36   3    6  ...   0   0    1   0   0  0.167  0.250  0.194  0.444
..   ...  ...  ..  ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...
682  580  537  71  155  ...   0   2   20   8   0  0.289  0.338  0.445  0.783
683  121  107   9   27  ...   3   0    2  13   0  0.252  0.322  0.336  0.658
684   47   43   8    8  ...   0   0    1   2   0  0.186  0.255  0.465  0.720
685  193  175  17   30  ...   2   2    4   1   0  0.171  0.230  0.314  0.545
686  140  124  11   22  ...   0   0    3   0   0  0.177  0.271  0.307  0.578

      mlbID
1    676265
2    547989
3    660670
4    642715
5    571431
..      ...
682  807799
683  696285
684  676724
685  664874
686  572287

[2414 rows x 28 columns]

In [7]:
player_data=pd.DataFrame
player_data=pd.concat([all_data_df_1,all_data_df_2,all_data_df_3,all_data_df_4])

In [8]:
print(player_data)

                   Name  Age  #days            Lev               Tm    G   PA  \
1         David Aardsma   26   5659         Maj-AL           Boston    1    1
2    Reggie Abercrombie   27   5567         Maj-NL          Houston   32   60
3           Bobby Abreu   34   5567         Maj-AL         New York  156  684
4          Manny Acosta   27   5651         Maj-NL          Atlanta    4    5
5            Mike Adams   29   5596         Maj-NL        San Diego    2    2
..                  ...  ...    ...            ...              ...  ...  ...
682    Masataka Yoshida   29     86         Maj-AL           Boston  140  580
683         Jacob Young   23     86         Maj-NL       Washington   33  121
684         Jared Young   27     86         Maj-NL          Chicago   16   47
685         Seby Zavala   29     86  Maj-AL,Maj-NL  Arizona,Chicago   73  193
686         Mike Zunino   32    195         Maj-AL        Cleveland   42  140

      AB    R    H  ...  SH  SF  GDP  SB  CS     BA    OBP    SLG    OPS  \
1      1    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
2     55   10   17  ...   1   1    0   5   2  0.309  0.339  0.509  0.848
3    609  100  180  ...   0   1   14  22   8  0.296  0.371  0.471  0.843
4      5    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
5      2    0    0  ...   0   0    0   0   0  0.000  0.000  0.000  0.000
..   ...  ...  ...  ...  ..  ..  ...  ..  ..    ...    ...    ...    ...
682  537   71  155  ...   0   2   20   8   0  0.289  0.338  0.445  0.783
683  107    9   27  ...   3   0    2  13   0  0.252  0.322  0.336  0.658
684   43    8    8  ...   0   0    1   2   0  0.186  0.255  0.465  0.720
685  175   17   30  ...   2   2    4   1   0  0.171  0.230  0.314  0.545
686  124   11   22  ...   0   0    3   0   0  0.177  0.271  0.307  0.578

      mlbID
1    430911
2    430631
3    110029
4    407924
5    430606
..      ...
682  807799
683  696285
684  676724
685  664874
686  572287

[14561 rows x 28 columns]